<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>Magic Sketch</title>

    <!-- Bootstrap CSS -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <link href="static/drawingboard.min.css" rel="stylesheet" />

  <script
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"
  ></script>
  <script src="static/drawingboard.min.js" type="text/javascript"></script>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark static-top dark-background">
      <div class="container">
        <a class="navbar-brand rubik branding" href="#">Magic Sketch</a>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="content">
      <div class="container">
      </div>
    </div>
    <!-- Footer -->
    <footer class="page-footer font-small blue">
      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">
        Demo for the NVIDIA app is
        <a href="https://www.youtube.com/watch?v=NZBN9jRJ-FE">here</a>,
        functinality is quite similar.
      </div>
      <!-- Copyright -->
    </footer>

    <!-- Modal -->
    <div class="modal fade" id="GuideModal" role="dialog">
    </div>

  </body>
</html>
